@import '../../styles/colors.less';

.slogan {
  font-size: 32px;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 32px;
  color: @cyan-color;
  font-family: HomemadeApple;
}

.title {
  font-size: 48px;
  text-align: center;
  color: @label-color;
  font-weight: normal;
}
